@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
}

h1, h2, h3 {
  font-weight: 700; /* Example for bold headings */
}

p {
  font-weight: 400; /* Example for regular paragraphs */
}